*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: auto;
}
.outside{
    background-color: #B0C4DE;
    padding: 30px 30px 0 30px;
    width: auto;
    height: 40vh;
}
.inside{
    display: flex;
    flex-direction: row;
}
.first_pic{
    width: 40%;
}
.left{
    background-color: white;
    padding: 3%;
    
}
.right{
    width: 40%;
}
.about, h1, .link {
    margin-bottom: 8%;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #82815a;
    line-height: 30px;
  
}
.about, .link{
    font-size: 20px;
}
.link a{
    color: black;
}
.readMore{
    background-color:orangered;
    padding: 3% 10%;
    border: 1px solid orangered ;
    border-radius: 7px;
    color: white;
    font-weight:bolder;
}
.logo{
    width: 7em;
    height: 7em;
    margin-left: 4%;
    margin-right: 3%;
}
@media  (max-width: 800px){
    .inside{
        display: flex;
        flex-direction: column;}
    .first_pic{
        width: auto;
    }
}