*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outside{
    background-color: #B0C4DE;
    padding: 30px 30px 0 30px;
    width: 100vw;
    height: 40vh;
}
.inside{
    display: flex;
    flex-direction: row;
}
.left{
    background-color: white;
    padding: 30px;
    
}
.right{
    width: 40%;
}
.about, h1, .link {
    margin-bottom: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #82815a;
}
.link a{
    color: black;
}
.readMore{
    background-color:orangered;
    padding: 10px 40px;
    border: 1px solid orangered ;
    border-radius: 7px;
    color: white;
}
/*.footer{
    height: 20%;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}*/
.logo{
    width: 7em;
    height: 7em;
}